<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>体重入力フォーム(second)</title>
    <link rel="stylesheet" href="../static/css/style_weight_second.css">
</head>

<body>
    <table>
        <tr>
            <td>体重</td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <input type="button" value="送信">
        </tr>
    </table>
    
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="../static/js/input_weight_second.js"></script>
</body>
